* {
  margin: 0;
  padding: 0;
}

html {
  background: #011c2e url("./assets/images/sky.jpg");
  background-size: cover;
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100vh;
}

.clock {
  width: 40rem;
  height: 40rem;
  border: 2rem solid black;
  border-radius: 50%;
  position: relative;
  padding: 25px;
}

.clock-face {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.hand {
  width: 50%;
  height: 7px;
  position: absolute;
  background: black;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  background-color: red;
  transform: rotate(20deg);
}
.min-hand {
  background-color: green;
  transform: rotate(40deg);
}
.second-hand {
  background-color: blueviolet;
  transform: rotate(60deg);
}
